<div class="user-detail-container">
  @if (isLoading()) {
    <div class="loading-state">
      <p>Carregando dados...</p>
    </div>
  } @else if (error()) {
    <app-card
      title="Erro"
      description="Não foi possível carregar os dados"
      action="Voltar"
      (actionClick)="goBack()"
    >
      <p class="error-message">{{ error() }}</p>
    </app-card>
  } @else if (user()) {
    <app-tabs>
      <app-tab value="tab1" label="Detalhes">
        <app-button (onClick)="goBack()">Voltar</app-button>
        <div class="user-details-grid">
          <div class="detail-item">
            <label>Email</label>
            <p>{{ user().email }}</p>
          </div>

          <div class="detail-item">
            <label>Telefone</label>
            <p>{{ user().phone }}</p>
          </div>

          <div class="detail-item">
            <label>Website</label>
            <p>{{ user().website }}</p>
          </div>

          <div class="detail-item">
            <label>Empresa</label>
            <p>{{ user().company?.name }}</p>
          </div>

          @if (user().address) {
            <div class="detail-item">
              <label>Rua</label>
              <p>{{ user().address.street }}</p>
            </div>

            <div class="detail-item">
              <label>Complemento</label>
              <p>{{ user().address.suite }}</p>
            </div>

            <div class="detail-item">
              <label>Cidade</label>
              <p>{{ user().address.city }}</p>
            </div>

            <div class="detail-item">
              <label>CEP</label>
              <p>{{ user().address.zipcode }}</p>
            </div>
          }
        </div>
      </app-tab>
      <app-tab value="tab2" label="Todos" routerLink="todos">
        <app-user-todos></app-user-todos>
      </app-tab>
      <app-tab value="tab3" label="Albums" routerLink="albums">
        <app-user-albuns></app-user-albuns>
      </app-tab>
      <app-tab value="tab4" label="Listas de Posts" routerLink="posts">
        <app-user-post></app-user-post>
      </app-tab>
    </app-tabs>
  }
</div>
