<div class="flex w-[90%] flex-col gap-1.5" ngpFormField>
  <label class="text-sm font-medium text-gray-800 dark:text-gray-100" ngpLabel>
    Choose a character
  </label>
  <p class="mb-1 text-xs text-gray-600 dark:text-gray-100" ngpDescription>
    Which character is your favorite?
  </p>

  <div
    class="flex h-9 w-75 items-center justify-between rounded-lg border border-gray-200 bg-white text-sm text-gray-900 outline-hidden data-focus:ring-2 data-focus:ring-blue-500 data-focus:outline-offset-2 dark:border-gray-800 dark:bg-transparent dark:text-gray-50 dark:data-focus:ring-blue-400"
    [(ngpSelectValue)]="value"
    ngpSelect
  >
    @if (value(); as value) {
      <span class="px-4">{{ value }}</span>
    } @else {
      <span class="px-4 text-gray-600 dark:text-gray-100">Select an option</span>
    }
    <ng-icon class="mx-2 h-full text-gray-500" name="heroChevronDown" />

    <div
      class="absolute z-1001 mt-1 max-h-60 w-75 overflow-y-auto rounded-xl border border-gray-200 bg-white p-1 shadow-lg outline-hidden dark:border-gray-800 dark:bg-black"
      *ngpSelectPortal
      ngpSelectDropdown
    >
      @for (option of options; track option) {
        <div
          class="flex h-9 w-full cursor-pointer items-center gap-2 rounded-lg px-3 text-sm text-gray-800 data-active:bg-gray-100 data-hover:bg-gray-50 data-press:bg-gray-100 dark:text-gray-300 dark:data-active:bg-white/10 dark:data-hover:bg-white/5 dark:data-press:bg-white/10"
          [ngpSelectOptionValue]="option"
          ngpSelectOption
        >
          {{ option }}
        </div>
      } @empty {
        <div
          class="flex items-center justify-center p-2 text-center text-sm font-medium text-gray-500"
        >
          No options found
        </div>
      }
    </div>
  </div>
</div>
