<div class="menu">
  <div class="menu__item">
    <a class="menu__link" (click)="navigateTo('initial')"> Inicial </a>
  </div>
  <div class="menu__item">
    <a class="menu__link" (click)="navigateTo('contacts')"> Contatos </a>
  </div>
  <div class="menu__item">
    <a class="menu__link" (click)="navigateTo('informations')"> Informações </a>
  </div>
  <div class="menu__item">
    <a class="menu__link" (click)="navigateTo('cards')"> Cartões </a>
  </div>
</div>

<router-outlet></router-outlet>
