<mat-tab-group [selectedIndex]="currentTab">
  <mat-tab label="Dados Gerais" (selectedChange)="currentTab = 0">
    @if (isInEditMode) {
      <app-general-informations-edit
        [userForm]="userForm"
        [countryList]="countryList()"
        [states]="states()"
        (onCountrySelectedEmmit)="onCountrySelected($event)"
      />
    } @else {
      <app-general-informations [user]="user" />
    }
  </mat-tab>
  <mat-tab label="Contato" (selectedChange)="currentTab = 1">
    @if (isInEditMode) {
      <app-contact-informations-edit [userForm]="userForm" />
    } @else {
      <app-country-contact-information [user]="user" />
    }
  </mat-tab>
  <mat-tab label="Dependentes" (selectedChange)="currentTab = 2">
    @if (isInEditMode) {
      <app-dependents-list-edit [userForm]="userForm" />
    } @else {
      <app-country-dependesses-list [dependentsList]="user.dependentsList" />
    }
  </mat-tab>
</mat-tab-group>
